<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pomotodo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header id="header">
        <div id="timer">25:00</div>
        <div id="logo">
            <img src="../../static/logo.png" alt="">
        </div>
        <div id="setting">
            <img src="../assets/images/setting.png" alt="">
        </div>
    </header>
    
    <div id="pomotodo">
        <div id="taskInput">
            <form action="">
                <input type="text" placeholder="添加新任务">
            </form>
        </div>
        <div id="taskList">
            <ul>
                <li>
                    <label for="c1">
                        <span></span>
                    </label>
                    <i class="pin"></i>
                    <input type="checkbox" name="" id="c1"> 视频课程录制
                </li>
                <li>
                    <label for="c1">
                        <span></span>
                    </label>
                    <i class="pin"></i>
                    <input type="checkbox" name="" id="c1"> 视频课程录制
                </li>
                <li>
                    <label for="c1">
                        <span></span>
                    </label>
                    <i class="pin"></i>
                    <input type="checkbox" name="" id="c1"> 视频课程录制
                </li>
            </ul>
        </div>
        <div id="toggleOverTask">
            <label for="showOverBtn" class="showOverLabel">
                <span>
                    显示完成任务
                </span>
            </label>
            <i class="cleardone"></i>
            <input type="checkbox" name="" id="showOverBtn">
        </div>
		
		
        <div id="taskOverList">
			
            <ul>
                <li class="lineOver">
                    <label for="c1">
                        <span></span>
                    </label>
                    <input type="checkbox" name="" id="c1"> 视频课程录制
                </li>
                <li class="lineOver">
                    <label for="c1">
                        <span></span>
                    </label>
                    <input type="checkbox" name="" id="c1"> 视频课程录制
                </li>
                <li class="lineOver">
                    <label for="c1">
                        <span></span>
                    </label>
                    <input type="checkbox" name="" id="c1"> 视频课程录制
                </li>
            </ul>

        </div>
    </div>

    <div id="footer">		
        <ul class="footer_selects">
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/1color.png" alt="1color" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/2.png" alt="2" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/play.png" alt="play" srcset="" width="80" height="44">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/4.png" alt="4" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/5.png" alt="5" srcset="" width="20">
                    </a>
            </li>
        </ul>
    </div>
</body>
</html>