<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pomotodo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="stats.css">
</head>

<body>
    <header id="header">
        <div id="timer">25:00</div>
        <div id="logo">
            <img src="../../static/logo.png" alt="">
        </div>
        <div id="setting">
            <img src="../assets/images/setting.png" alt="">
        </div>
    </header>
    <!-- 月份选择 -->
    <ul class="month pdy6">
        <li>五月</li>
        <li class="centeritem">六月</li>
        <li>最近28天</li>
    </ul>
    <!-- 番茄统计 任务统计 -->
    <ul class="tab">
        <li class="tab_item checked_it radius_l">番茄统计</li>
        <li class="tab_item radius_r">任务统计</li>
    </ul>

    <div class="count">
        <ul class="">
            <li>总数</li>
            <li>0</li>
        </ul>
        <ul class="count_r">
            <li>日平均数</li>
            <li>0 -0.0</li>
        </ul>
    </div>

    <!--  -->
    <div>
        <ul class="chart_y">
            <li>10</li>
            <li>8</li>
            <li>6</li>
            <li>4</li>
            <li>2</li>
            <li>0</li>
        </ul>
        <div class="enroll_x">
                <ul class="char_x">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                    </ul>
        </div>

        <div class="workday">
            <ul class="workday_l">
                <li>最佳工作日</li>
                <li>暂无数据</li>
                <li>0</li>
                <li>+0%</li>
            </ul>
            <ul class="workday_r">
                <li>
                    
                </li>
            </ul>
        </div>
    </div>


    <div id="footer">		
        <ul class="footer_selects">
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/1b.png" alt="1color" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/2.png" alt="2" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/play.png" alt="play" srcset="" width="80" height="44">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/4color.png" alt="4" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/5.png" alt="5" srcset="" width="20">
                    </a>
            </li>
        </ul>
    </div>
</body>
</html>