<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pomotodo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="user.css">
</head>

<body>
    <header id="header">
        <div id="timer">25:00</div>
        <div id="logo">
            <img src="../../static/logo.png" alt="图片丢失了">
        </div>
        <div id="setting">
            <img src="../assets/images/setting.png" alt="图片丢失了">
        </div>
    </header>

    <div class="main">
          <div class="scroll_content con_bg">
                <ul class="user_m">
                    <h6>账号</h6>
                    <ul class="flex row_config">
                        <li class="pd1_lr">账号</li>
                        <li class="gray pd1_lr">kiss</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            高级版
                        </li>
                        <li class="gray pd1_lr">箭头</li>
                    </ul>
                </ul>
                <ul class="user_m">
                    <h6>音效</h6>
                    <ul class="flex row_config">
                        <li class="pd1_lr">播放提示音效</li>
                        <li class="gray pd1_lr">开</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            提醒音效
                        </li>
                        <li class="gray pd1_lr">响铃</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            启用震动
                        </li>
                        <li class="gray pd1_lr">开</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            播放工作背景音效
                        </li>
                        <li class="gray pd1_lr">开</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            工作音效
                        </li>
                        <li class="gray pd1_lr">滴答声</li>
                    </ul>
                </ul>


                <ul class="user_m">
                    <h6>番茄土豆</h6>
                    <ul class="flex row_config">
                        <li class="pd1_lr">播放时长</li>
                        <li class="gray pd1_lr">25分钟</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            休息时长
                        </li>
                        <li class="gray pd1_lr">5分钟</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            长休息时长
                        </li>
                        <li class="gray pd1_lr">15分钟</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            长休息间隔番茄数
                        </li>
                        <li class="gray pd1_lr">4个</li>
                    </ul>

                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            记录打断原因
                        </li>
                        <li class="gray pd1_lr">开</li>
                    </ul>
                    <ul class="flex row_config">
                            <li class="pd1_lr">
                                开启无限模式
                            </li>
                            <li class="gray pd1_lr">关</li>
                    </ul>
                    <ul class="flex row_config">
                        <li class="pd1_lr">
                            最后一分钟提醒
                        </li>
                        <li class="gray pd1_lr">开</li>
                    </ul>
                </ul>
                
                <ul class="user_m">
                        <h6>界面</h6>
                        <ul class="flex row_config">
                            <li class="pd1_lr">屏幕长亮</li>
                            <li class="gray pd1_lr">开</li>
                        </ul>
    
                        <ul class="flex row_config">
                            <li class="pd1_lr">
                                使用应用图标数字标记
                            </li>
                            <li class="gray pd1_lr">无</li>
                        </ul>
    
                        <ul class="flex row_config">
                            <li class="pd1_lr">
                                暗色主题
                            </li>
                            <li class="gray pd1_lr">开</li>
                        </ul>
    
                        <ul class="flex row_config">
                            <li class="pd1_lr">
                                只显示有数据的日期
                            </li>
                            <li class="gray pd1_lr">开</li>
                        </ul>
                </ul>
                
                <ul class="user_m">
                        <h6>其他</h6>
                        <ul class="flex row_config">
                            <li class="pd1_lr">关于</li>
                            <li class="gray pd1_lr">sel</li>
                        </ul>
    
                        <ul class="flex row_config">
                            <li class="pd1_lr">
                                重新启动教程
                            </li>
                            <li class="gray pd1_lr">sel</li>
                        </ul>
                </ul>
          </div>
    </div>


    <div id="footer">		
        <ul class="footer_selects">
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/1b.png" alt="1color" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/2.png" alt="2" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/play.png" alt="play" srcset="" width="80" height="44">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/4.png" alt="4" srcset="" width="20">
                    </a>
            </li>
            <li>
                    <a href="javascript:;">
                        <img src="../assets/images/5color.png" alt="5" srcset="" width="20">
                    </a>
            </li>
        </ul>
    </div>
</body>
</html>